/* Desktop */
@media (min-width: 800px) {
  .produktliste main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }

  .container_produkt {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }
}
